.app-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    // padding: 0px 20px;
    // padding-bottom: 20px;
    // border-right: 20px solid #0d6efd;
    // border-left: 20px solid #0d6efd;
    // border-bottom: 20px solid #0d6efd;
}